/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url('https://unpkg.com/primeflex@latest/primeflex.css');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    padding: 40px 250px;
}