<div class="bg-blue-200 note-card pl-1 pr-3 {{ isDeleted ? 'hidden' : 'block' }}">
    
    <div class="flex flex-column bg-blue-200">
        <div class="flex justify-content-between align-items-center">
            <div
            class="ml-3"
            >{{ formateDate(note?.time) }}</div>
<!--Блок ниже вставляет кнопки удалить и редактировать, если флаг страницы равен главная, кнопка удалить вызвает метод удаления, а редактировать редиректит на страницу редактирования. 
    В другом случае мы находимся на странице создания или редактированя, на которой вместо этих кнопока появляется кнопка загрузить изображение. 
-->
            @if(page === 'main') {
                <div>
                    <p-button
                    (onClick)="deleteNote()"
                    class="mr-2"
                    severity="danger"
                    icon="pi pi-trash"
                    [rounded]="true"
                    />
                    <p-button
                    [routerLink]=" 'edit/' + note?.id "
                    severity="info"
                    icon="pi pi-pencil"
                    [rounded]="true"
                    />
                </div>
            
            } @else {
                <!--Метод onUpload передаётся с компонента страницы редактирования/создания-->
                <label 
                for="file-upload"
                class="custom-file-upload">
                    Загрузить фото
                </label>
                <input 
                (change)="onUpload($event)"
                id="file-upload" 
                #file
                type="file"
                accept="image/*"
                hidden
                />
            }
        </div>

        <div class="flex justify-content-between">
            <div class="note-content note-text mr-1">
                <!--В данном блоке меняется текстовая часть записи, если мы на странице редактирования, там textarea, значение которой редактирует пользователь, иначе там просто параграф с текстом записи.-->
                <!--Текст важно передавать через аттрибут innerHTML, так как из эдитора он приходит именно в таком формате-->
                @if(page === 'main') {
                    <p
                    [innerHTML]="note?.text"
                    class="pl-3 pr-2 text-lg line-height-2"
                    >
                    <!-- {{ note?.text }} -->
                    </p>
                } @else {
                    <p
                    [innerHTML]="note?.text"
                    class="pl-3 pr-2 text-lg line-height-2"
                    >
                    <!-- {{ note?.text }} -->
                    </p>
                    <form 
                    class="h-full">
                    <span class="p-float-label h-full">
                        <!-- Метод handle input передаётся со страницы редактирования и отслеживает изменение формы. -->
                        <!-- <textarea 
                            (change)="handleInput($event)" 
                            [value]="note?.text"
                            class="note-textarea" 
                            id="float-input" 
                            rows="5" 
                            cols="30" 
                            >
                            </textarea>
                             -->
                            
                            
                        </span>
                    </form>
                    
                }
            </div>
            
            <div class="note-content card-image">
                <img class="card-image-item" [src]="note?.image">
            </div>
        </div>

    </div>
</div>
